.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
vsc-extension-quickstart.md
**/*.map
**/*.test.ts
**/*.test.js
.devcontainer/**
specifications.md
README.ja.md
example.mindmap
package-lock.json
package.json.bak
node_modules/**
!node_modules/mind-elixir/**
